<!DOCTYPE html>
<html>
<head><title>Register Redirect</title></head>
<body>
    <p>Redirecting to authorization server...</p>
    <script>
        window.location.href = "http://localhost:5001/register";
    </script>
</body>
</html>
